.box {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: gray;
    border-radius: 20px;
    font-size: 205px;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}